<div class="main-menu">
	<header class="header">
		<a href="../../corp/home" class="logo"><i class="ico ti-harddrive"></i>WPERFORMANCE</a>
		<button type="button" class="button-close fa fa-times js__menu_close"></button>
	</header>
	<!-- /.header -->
	<div class="content">

		<div class="navigation">
			<ul class="menu js__accordion">
				<li>
					<a class="waves-effect" href="../../../corp"><i class="menu-icon ti-dashboard"></i><span>Home</span></a>
				</li>
				<li>
					<a class="waves-effect" href="../../../corp/history"><i class="menu-icon ti-receipt"></i><span>Histórico</span></a>
				</li>
			</ul>
		</div>
		<!-- /.navigation -->
	</div>
	<!-- /.content -->
</div>
<!-- /.main-menu -->