<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Home</title>
	<link rel="stylesheet" href="assets/styles/style.min.css">

	<!-- Waves Effect -->
	<link rel="stylesheet" href="assets/plugin/waves/waves.min.css">

</head>

<body>

<div id="single-wrapper">
	<form action="/register" method="post" class="frm-single">
		<div class="inside">
			<div class="title"><strong>W</strong>Player</div>
			<!-- /.title -->
			<div class="frm-title">Registrar-se</div>
			<!-- /.frm-title -->
			<div class="frm-input">
                <input type="text" placeholder="Nome" class="frm-inp" name="nome">
                <i class="fa fa-user frm-ico"></i>
            </div>
			<!-- /.frm-input -->
			<div class="frm-input">
                <input type="email" placeholder="Email" class="frm-inp" name="email">
                <i class="fa fa-envelope frm-ico"></i>
            </div>
			<!-- /.frm-input -->
			<div class="frm-input">
                <input type="password" placeholder="Senha" class="frm-inp" name="senha">
                <i class="fa fa-lock frm-ico"></i>
            </div>
			<!-- /.frm-input -->
			<div class="frm-input" id="steamId">
                <input type="text" placeholder="Steam Id" class="frm-inp" name="steamId">
                <i class="fa fa-steam frm-ico"></i>
            </div>
			<!-- /.frm-input -->
			<div class="switch primary">
                <input type="checkbox" id="switch-2"><label for="switch-2">Conta Individual</label>
            </div>
			<!-- /.switch -->
			<button type="submit" class="frm-submit">Registrar-se<i class="fa fa-arrow-circle-right"></i></button>
			<a href="page-login.html" class="a-link"><i class="fa fa-sign-in"></i>Já tem uma conta? Clique aqui.</a>
			<div class="frm-footer">WPLAYER © 2019.</div>
			<!-- /.footer -->
		</div>
		<!-- .inside -->
	</form>
	<!-- /.frm-single -->
</div><!--/#single-wrapper -->

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<script src="assets/script/html5shiv.min.js"></script>
		<script src="assets/script/respond.min.js"></script>
	<![endif]-->
	<!-- 
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="assets/scripts/jquery.min.js"></script>
	<script src="assets/scripts/modernizr.min.js"></script>
	<script src="assets/plugin/bootstrap/js/bootstrap.min.js"></script>
	<script src="assets/plugin/nprogress/nprogress.js"></script>
	<script src="assets/plugin/waves/waves.min.js"></script>

	<script src="assets/scripts/main.min.js"></script>
	<script>
		steamId.style.display = "none"
		var individualCheck = document.getElementById('switch-2')
		individualCheck.checked = false
		individualCheck.addEventListener('click', () => {
			var visibility = individualCheck.checked ? "block" : "none" 
			steamId.style.display = visibility
		})
	</script>
</body>
</html>