<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>WPLAYER - STARTER PAGE</title>

    <!-- Main Styles -->
    <link rel="stylesheet" href="../../assets/styles/style.min.css">

    <!-- Themify Icon -->
    <link rel="stylesheet" href="../../assets/fonts/themify-icons/themify-icons.css">

    <!-- mCustomScrollbar -->
    <link rel="stylesheet" href="../../assets/plugin/mCustomScrollbar/jquery.mCustomScrollbar.min.css">

    <!-- Waves Effect -->
    <link rel="stylesheet" href="../../assets/plugin/waves/waves.min.css">

    <!-- Sweet Alert -->
    <link rel="stylesheet" href="../../assets/plugin/sweet-alert/sweetalert.css">

</head>

<body>
    <div class="main-menu">
        <header class="header">
            <a href="index.html" class="logo"><i class="ico ti-rocket"></i>WPLAYER</a>
            <button type="button" class="button-close fa fa-times js__menu_close"></button>
        </header>
        <!-- /.header -->
        <div class="content">

            <div class="navigation">
                <h5 class="title">Navigation</h5>
                <!-- /.title -->
                <ul class="menu js__accordion">
                    <li>
                        <a class="waves-effect" href="index.html"><i
                                class="menu-icon ti-dashboard"></i><span>Home</span></a>
                    </li>
                    <li>
                        <a class="waves-effect" href="index.html"><i class="menu-icon ti-dashboard"></i><span>Meus
                                Jogos</span></a>
                    </li>
                    <li>
                        <a class="waves-effect" href="index.html"><i class="menu-icon ti-dashboard"></i><span>Perfil
                                Steam</span></a>
                    </li>
                    <li>
                        <a class="waves-effect" href="index.html"><i
                                class="menu-icon ti-dashboard"></i><span>Suporte</span></a>
                    </li>
                </ul>
            </div>
            <!-- /.navigation -->
        </div>
        <!-- /.content -->
    </div>
    <!-- /.main-menu -->

    <div class="fixed-navbar">
        <div class="pull-left">
            <button type="button"
                class="menu-mobile-button glyphicon glyphicon-menu-hamburger js__menu_mobile"></button>
            <h1 class="page-title">Seus Jogos</h1>
            <!-- /.page-title -->
        </div>
        <!-- /.pull-left -->
    </div>
    <!-- /.fixed-navbar -->
    <div id="wrapper">
        <div class="main-content">
            <div class="row small-spacing">
                <%for(list of information.gameList) {%>
                <a href="/gamer/game/detail/<%= list.GAME_ID%>">
                    <div class="col-lg-12 col-md-6 col-xs-12">
                        <div class="box-content">
                            <div class="statistics-box with-icon">

                                <img src="<%= list.GAME_IMG%>" alt="" class="ico box avatar">
                                <p class="text"><%= list.GAME_NAME%></p>

                                <h2 class="counter"><%= list.TOTAL_HOURS%> h</h2>
                            </div>
                        </div>

                        <!-- /.box-content -->
                    </div>
                </a>
                <%}%>
		</div>
		<!-- .row -->
	</div>
	<!-- /.main-content -->

</div>
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="../../assets/scripts/jquery.min.js"></script>
	<script src="../../assets/scripts/modernizr.min.js"></script>
	<script src="../../assets/plugin/bootstrap/js/bootstrap.min.js"></script>
	<script src="../../assets/plugin/mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
	<script src="../../assets/plugin/nprogress/nprogress.js"></script>
	<script src="../../assets/plugin/sweet-alert/sweetalert.min.js"></script>
	<script src="../../assets/plugin/waves/waves.min.js"></script>
	<!-- Sparkline Chart -->
	<script src="../../assets/plugin/chart/sparkline/jquery.sparkline.min.js"></script>
	<script src="../../assets/scripts/chart.sparkline.init.min.js"></script>

	<script src="../../assets/scripts/main.min.js"></script>
</body>
</html>