<!DOCTYPE html>
<html lang="en">
	
<%- include('./../include/gamer/navbar') -%>

<body>

<%- include('../include/gamer/sidebar') -%>
<div class="fixed-navbar">
	<div class="pull-left">
		<button type="button" class="menu-mobile-button glyphicon glyphicon-menu-hamburger js__menu_mobile"></button>
		<h1 class="page-title">Home</h1>
		<!-- /.page-title -->
	</div>
	<!-- /.pull-left -->
</div>
<!-- /.fixed-navbar -->
<div id="wrapper">
	<div class="main-content">
		<div class="row small-spacing">
			<div class="box-content">
				<h3 class="box-title">Status da máquina</h3>
				<div class="col-lg-4 col-xs-12">
					<div class="box-content">
						<h4 class="box-title">CPU</h4>
						<!-- /.dropdown js__dropdown -->
						<div class="text-center">
							<div class="knob-wrap">
								<input class="knob" data-width="150" data-height="150" data-bgColor="#ebeff2" data-fgColor="#304ffe" data-readOnly=true data-thickness=".4" value="45"  />
							</div>
							<!-- .knob-wrap -->
						</div>
					</div>
					<!-- /.box-content -->
				</div>
				<!-- /.col-lg-3 col-xs-12 -->
		
				<div class="col-lg-4 col-xs-12">
					<div class="box-content">
						<h4 class="box-title">RAM</h4>
						<!-- /.dropdown js__dropdown -->
						<div class="text-center">
							<div class="knob-wrap">
								<input class="knob" data-width="150" data-height="150" data-bgColor="#ebeff2" data-fgColor="#f60e0e" data-readOnly=true data-thickness=".4" value="87"  />
							</div>
							<!-- .knob-wrap -->
						</div>
					</div>
					<!-- /.box-content -->
				</div>
				<!-- /.col-lg-3 col-xs-12 -->
	
				<div class="col-lg-4 col-xs-12">
					<div class="box-content">
						<h4 class="box-title">DISCO</h4>
						<!-- /.dropdown js__dropdown -->
						<div class="text-center">
							<div class="knob-wrap">
								<input class="knob" data-width="150" data-height="150" data-bgColor="#ebeff2" data-fgColor="#00bf4f" data-readOnly=true data-thickness=".4" value="12"  />
							</div>
							<!-- .knob-wrap -->
						</div>
					</div>
					<!-- /.box-content -->
				</div>
				<!-- /.col-lg-3 col-xs-12 -->
			</div>
			<div class="row small-spacing">
				<div class="col-lg-12 col-xs-12">
					<div class="box-content">
						<h4 class="box-title">Recomendações</h4>
						<!-- /.box-title -->
						<!-- /.dropdown js__dropdown -->
						<div class="task-lists">		
							<a href="#" class="task-item col-lg-4 col-xs-12">
								<img src="http://placehold.it/1000x667" alt="" class="margin-bottom-10">
								<div class="title">
									<p>Nome Jogo</p>
									<p>Por que você jogou um jogo da categoria:</p>
									<span class="notice notice-blue">Aventura</span>
									<span class="notice notice-blue">Indie</span>
									<span class="notice notice-blue">Ação</span>
								</div>
								<!-- /.title -->
							</a>
							<!-- /.task-item -->
							<a href="#" class="task-item col-lg-4 col-xs-12">
								<img src="http://placehold.it/1000x667" alt="" class="margin-bottom-10">
								<div class="title">
									<p>Nome Jogo</p>
									<p>Por que você jogou um jogo da categoria:</p>
									<span class="notice notice-blue">Aventura</span>
									<span class="notice notice-blue">Indie</span>
									<span class="notice notice-blue">Ação</span>
								</div>
								<!-- /.title -->
							</a>
							<a href="#" class="task-item col-lg-4 col-xs-12">
								<img src="http://placehold.it/1000x667" alt="" class="margin-bottom-10">
								<div class="title">
									<p>Nome Jogo</p>
									<p>Por que você jogou um jogo da categoria:</p>
									<span class="notice notice-blue">Aventura</span>
									<span class="notice notice-blue">Indie</span>
									<span class="notice notice-blue">Ação</span>
								</div>
								<!-- /.title -->
							</a>


						</div>
						<!-- /.task-lists -->
					</div>
					<!-- /.box-content -->
				</div>
				<!-- /.col-lg-4 col-xs-12 -->
			</div>
			<div class="row small-spacing">
				<div class="col-lg-6 col-md-12">
					<div class="box-content">
						<h4 class="box-title">Atividade nas ultimas 2 semanas</h4>
						<canvas id="recent" class="chartjs-chart" width="480" height="320"></canvas>
						<!-- /#bar-chartjs-chart.chartjs-chart -->
					</div>
					<!-- /.box-content -->
				</div>
				<!-- /.col-lg-6 col-md-12 -->
				<div class="col-lg-6 col-md-12">
					<div class="box-content">
						<h4 class="box-title">Top 5 mais jogados</h4>
						<canvas id="top5Chart" class="chartjs-chart" width="480" height="320"></canvas>
						<!-- /#bar-chartjs-chart.chartjs-chart -->
					</div>
					<!-- /.box-content -->
				</div>
				<!-- /.col-lg-6 col-md-12 -->
			</div>
			
		</div>
	</div>
	<!-- /.main-content -->

</div><!--/#wrapper -->
	
	<%- include('../include/gamer/js-libs') -%>

	<script>
		var recentData = {
			labels: ["Jogados \nrecentes"],
			datasets: [{
				label: 'Jogo 1',
				backgroundColor: getRandomColor(),
				borderWidth: 1,
				data: [ 167 ]
			}, {
				label: 'Jogo 2',
				backgroundColor: getRandomColor(),
				data: [ 50 ]
			}, {
				label: 'Jogo 3',
				backgroundColor: getRandomColor(),
				data: [ 20 ]
			}, {
				label: 'Jogo 4',
				backgroundColor: getRandomColor(),
				data: [ 7 ]
			}]

		};

		var top5Data = {
			labels: ["Jogos"],
			datasets: [{
				label: 'Jogo 1',
				backgroundColor: getRandomColor(),
				borderWidth: 1,
				data: [ 927 ]
			}, {
				label: 'Jogo 2',
				backgroundColor: getRandomColor(),
				data: [ 800 ]
			}, {
				label: 'Jogo 3',
				backgroundColor: getRandomColor(),
				data: [ 750 ]
			}, {
				label: 'Jogo 4',
				backgroundColor: getRandomColor(),
				data: [ 233 ]
			}, {
				label: 'Jogo 5',
				backgroundColor: getRandomColor(),
				data: [ 154 ]
			}]

		};

		window.onload = function() {
			var recentChart = document.getElementById('recent').getContext('2d');
			window.a = new Chart(recentChart, {
				type: 'bar',
				data: recentData,
				options: {
					// Elements options apply to all of the options unless overridden in a dataset
					// In this case, we are setting the border of each horizontal bar to be 2px wide
					elements: {
						rectangle: {
							borderWidth: 2,
						}
					},
					responsive: true,
					scales: {
						yAxes: [{
							ticks: {
								beginAtZero: true,
								// Inclui a °C para o gráfico de Temperatura
								callback: function(value) {
									return value + ' h';
								}
							}
						}]
					}
				}
			});
			var top5Chart = document.getElementById('top5Chart').getContext('2d');
			window.b = new Chart(top5Chart, {
				type: 'bar',
				data: top5Data,
				options: {
					// Elements options apply to all of the options unless overridden in a dataset
					// In this case, we are setting the border of each horizontal bar to be 2px wide
					elements: {
						rectangle: {
							borderWidth: 2,
						}
					},
					responsive: true,
					scales: {
						yAxes: [{
							ticks: {
								beginAtZero: true,
								// Inclui a °C para o gráfico de Temperatura
								callback: function(value) {
									return value + ' h';
								}
							}
						}]
					}
				}
			});

		};

		function getRandomColor() {
			var letters = '0123456789ABCDEF';
			var color = '#';
			for (var i = 0; i < 6; i++) {
				color += letters[Math.floor(Math.random() * 16)];
			}
			return color;
		}
	</script>
</body>
</html>