<div class="main-menu">
	<header class="header">
		<a href="/gamer" class="logo"><i class="ico ti-harddrive"></i>WPERFORMANCE</a>
		<button type="button" class="button-close fa fa-times js__menu_close"></button>
	</header>
	<!-- /.header -->
	<div class="content">

		<div class="navigation">
			<h5 class="title">WPLAYER</h5>
			<!-- /.title -->
			<ul class="menu js__accordion">
				<li>
					<a class="waves-effect" href="../../../gamer/home"><i class="menu-icon fa fa-dashboard"></i><span>Home</span></a>
				</li>
				<li>
					<a class="waves-effect" href="../../machine/<%= machineKey%>"><i class="menu-icon fa fa-desktop"></i><span>Minha máquina</span></a>
				</li>
				<li>
					<a class="waves-effect" href="../../gamer/game/list"><i class="menu-icon fa fa-gamepad"></i><span>Meus Jogos</span></a>
				</li>
				<li>
					<a class="waves-effect" href="../../gamer/profile"><i class="menu-icon fa fa-steam"></i><span>Perfil Steam</span></a>
				</li>
			</ul>
		</div>
		<!-- /.navigation -->
	</div>
	<!-- /.content -->
</div>
<!-- /.main-menu -->